@import "@{templateCommon}/basekit-bootstrap.less";


/* ===============================
   1. Default
   =============================== */

body {
    background-color: @color-swatch1;
    background-image: image('/images/texture.png');
    font-family:@font-swatch5-font-family;
    margin: 0;
    padding: 0;
}

.main {
    padding-top: 2.5em;
    padding-right: 20px;
    padding-bottom: 2.5em;
    padding-left: 20px;
    max-width: 960px;
    margin: 0 auto;
    @media @tablet {
        padding-top: 2em;
        padding-right: 0;
        padding-bottom: 2em;
        padding-left: 0;
    }
    @media @mobile {
        padding-top: 1.5em;
        padding-right: 0;
        padding-bottom: 1.5em;
        padding-left: 0;
    }
}

.wrapper {
     width: 90%;
        margin: 0 5%;
    @media only screen and (min-width: 1140px) {
        width: 1024px;
        margin: 0 auto;
    }
}

a {
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@color-swatch3;
    letter-spacing: @font-swatch5-letter-spacing;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0 0 10px;
}


h1 {
    font-family:@font-swatch1-font-family;
    font-weight: @font-swatch1-font-weight;
    color:@font-swatch1-color;
    line-height:@font-swatch1-line-height;
    letter-spacing: @font-swatch1-letter-spacing;
    font-size: @font-swatch1-font-size;
}

h2 {
    font-family:@font-swatch2-font-family;
    font-size: @font-swatch2-font-size;
    font-weight: @font-swatch2-font-weight;
    line-height:@font-swatch2-line-height;
    color: @font-swatch2-color;
    letter-spacing: @font-swatch2-letter-spacing;
}

h3 {
    font-family:@font-swatch3-font-family;
    font-size:@font-swatch3-font-size;
    font-weight: @font-swatch3-font-weight;
    color: @font-swatch3-color;
    line-height:@font-swatch3-line-height;
    letter-spacing: @font-swatch3-letter-spacing;
}

h4 {
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

p {
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: @font-swatch5-letter-spacing;
}

ol, li, ul {
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight:@font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
}

/* ===============================
   2. VARIABLE MEDIA QUERIES
   =============================== */

@tablet: ~"only screen and (max-width: 768px)";
@mobile: ~"only screen and (max-width: 320px)";


/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget {
    .extendednavigation {
        float: none;
        position: relative;
        max-width: 100%;
        min-height: 40px;
        background-color: @color-swatch2;
        li {
            ul {
                display: none !important;
            }
        }
        ul {
            display: table;
            float: none;
            margin: 0 auto;
            text-align: center;
            padding: 4px 0 0 0;
            @media @tablet {
                /* Hidden until nav icon is clicked */
                display: none;
                /* Then these styles are applied */
                width: 100%;
                border-top: 1px solid @color-swatch2;
                margin: 0;
                padding: 40px 0 0;
            }
            li {
                float: left;
                display: block;
                padding: 5px 0;
                @media @tablet {
                    width: 100%;
                    padding: 1em 0;
                    border-bottom: 1px dotted @color-swatch2;
                    background-color: @color-swatch1;
                    background-image:image('/images/texture.png');
                }
                &:last-child {
                    @media @tablet {
                        border-bottom: 1px solid @color-swatch2;
                    }
                }

                &:hover {
                    ul {
                        display: block !important;
                        position: absolute;
                        background-color: @color-swatch1;
                        background-image:image('/images/texture.png');
                        border: 1px solid @color-swatch2;
                        z-index: 500;
                        padding: 0;
                        margin: 0 0 0;
                        @media @tablet {
                            background-color: @color-swatch1;
                            background-image:image('/images/texture.png');
                        }
                        li {
                            display: block;
                            width: 100%;
                                .box-sizing {
                                    a {
                                        display: block;
                                        color: @color-swatch5;
                                        padding: 0;
                                    }
                                }
                        }
                    }
                }

                a {
                    display: block;
                    padding: 0 15px;
                    font-family: @font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @color-swatch1;
                    line-height: @font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @color-swatch1;
                        text-decoration: underline;
                        @media @tablet {
                            color: @color-swatch5;
                        }
                    }
                    @media @tablet {
                        color: @color-swatch5;
                    }
                }

                &.folder {
                    /* Folder dropdown arrow BG style goes Here */  
                    margin-right: 20px;            
                    cursor: pointer;
                    background-image: none;
                    @media @tablet {
                        background-image:image('/images/texture.png');
                        background-repeat: repeat;
                        background-position: center;
                    }
                    .text {
                        display: block;
                        padding: 0 15px;
                        font-family: @font-swatch6-font-family;
                        font-size: @font-swatch6-font-size;
                        font-weight: @font-swatch6-font-weight;
                        color: @color-swatch1;
                        line-height: @font-swatch6-line-height;
                        letter-spacing: @font-swatch6-letter-spacing;
                        position: relative;
                        &:after {
                            content: "\25BC";
                            font-size: 5px;
                            position: absolute;
                            top: 1px;
                            display: block;
                            z-index: 9999999;
                            right: 0;
                            color: @color-swatch1;
                            @media @tablet {
                                font-size: 10px;
                                color: @color-swatch5;
                                padding-right: 10px;
                            }
                        }
                        @media @tablet {
                                color: @color-swatch5;
                            }
                        &:hover {
                            color: @color-swatch1;
                            text-decoration: underline;
                            @media @tablet {
                                color: @color-swatch5;
                            }
                        }
                    }
                    ul {
                        padding: 0;
                        @media @tablet {
                            margin-top: 14px;
                            background-color: @color-swatch1;
                            background-image:image('/images/texture.png');
                        }
                        li {
                            a {
                                .text {
                                    padding: 0;
                                    color: @color-swatch5;
                                    &:hover {
                                        text-decoration:underline;
                                        color: @color-swatch5;
                                    }
                                    &:after {
                                        content: "";
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        a {
           &.pull {
               display: none;
               @media @tablet {
                   display: block;
                   margin: 0;
                   width: 20px;
                   height: 44px;
                   position: absolute;
                   top: -3px;
                   left: 48.5%;
                   &:hover {
                       cursor: pointer;
                   }
                   &:after {
                       content: '';
                       position: absolute;
                       width: 100%;
                       height: 3px;
                       background: @color-swatch1;
                       top: 15px;
                       left: 0;
                       box-shadow: 0 6px 0 @color-swatch1, 0 12px 0 @color-swatch1;
                   }
               }
           }
       }
    }
}

.widget .extendednavigation ul li.folder:after {
    display: none;
}

/* ===============================
   4. MENU SECTIONS NAVIGATION
   =============================== */

.widget {
    &.menusections {
        text-align: center;
        padding: 0.5em 0 0;
        min-height: 30px;
        margin: 2em 0;
        @media @tablet {
            border-bottom: none;
            margin-top: 1.5em;
        }
        ul {
            display: table;
            width: 100%;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            /* ALIGN CENTER */
            &.align-center {
                li {
                    text-align: center;
                    &:hover {
                        li {
                            text-align: center;
                        }
                    }
                }
            }
            /* ALIGN LEFT */
            &.align-left {
                li {
                    text-align: left;
                    &:hover {
                        li {
                            text-align: left;
                        }
                    }
                }
            }
            /* ALIGN RIGHT */
            &.align-right {
                li {
                    text-align: right;
                    &:hover {
                        li {
                            text-align: right;
                        }
                    }
                }
            }
            li {
                display: inline-block;
                padding: 0 15px 10px 0;
                margin: 0;
                &:last-child {
                    padding-right: 0;
                }
                @media only screen and (max-width: 550px) {
                    width: 100%;
                    border-bottom: 1px dotted @color-swatch5;
                    padding: 15px 0 10px 0;
                }
                a {
                    display: block;
                    font-family:@font-swatch6-font-family;
                    font-size:@font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch6-color;
                    line-height:@font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @font-swatch6-color-hover;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


/* ===============================
   HEADER
   =============================== */

.bk-header {
 .companyheader {
        margin-top: 3.5em;
        .logo, .companyname {
            text-align: center;
        }
        .companyname a {
            display: block;
            padding: 10px;
            font-family: @font-swatch10-font-family;
            font-weight: @font-swatch10-font-weight;
            color: @font-swatch10-color;
            line-height: @font-swatch10-line-height;
            letter-spacing: @font-swatch10-letter-spacing;
            font-size: @font-swatch10-font-size;
                &:hover {
                    text-decoration: none;
                }
                @media @mobile {
                    font-size: bkscale(@font-swatch10-font-size,0.8);
                    line-height: bkscale(@font-swatch10-line-height,0.8);
                    padding-bottom: 20px;
                }
        } 
    }/* end companyheader */

    .widget.content {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        @media @mobile {
            width: 100%;
        }
        p {
            padding: 0;
        }
    }

    .header-ornament {
        margin-top: 1em;
        background-image: image('/images/line.png');
        background-repeat: no-repeat;
        height: 20px;
        background-position: center;
    }

}   /* end header */


/* ===============================
   BUTTONS
   =============================== */

.widget.button button, .widget.contactform fieldset button.btn, .widget.paypalbuynow .widget.button.paypal, .widget.tweet a, .widget.dropbox button, .widget.signupform fieldset button, .widget.blogsearch form button, .widget.profile form button {
    border: 2px solid @color-swatch3;
    &:hover {
        background-color:@font-swatch7-background-color-hover;
    }
}

.widget.paypalbuynow .widget.button.paypal {
  background-image: image('/images/paypal.png');
}

.widget.dropbox .b-wrap .btn {
  background-image: image('/images/dropbox-icon.png');
}

.widget.tweet a, .widget.tweet a:hover, .tweet a:active {
  background-image: image('/images/tweet.png');
  }

.widget.clicktocall a, .widget.clicktocall a:hover {
    @media @mobile {
        background-image: image('/images/ic-desktop-call.png');
        border: 2px solid @color-swatch3;
    }
}

/* ===============================
   MENU
   =============================== */

.widget.menu {
    width: 1024px;
    margin:0 auto;
    border: 3px solid @color-swatch2;
    padding: 0;
    &:before {
       content: " ";
       position: absolute;
       top: 5px;
       left: 5px;
       right: 5px;
       bottom: 5px;
       border: 1px solid @color-swatch2;
       @media @tablet {
        border: none;
        }
    }
    @media only screen and (max-width: 1084px) {
        width: 90%;
    }
    @media @tablet {
        border: none;
        width:100%;
    }

    .main {
        width: 940px;
        padding-top: 30px;
        margin: 0 auto;
        display: none;
        &.selected {
            display: block;
        }
            @media only screen and (max-width: 1084px) {
                width: 90%;
            }
            @media @tablet {
                padding-top:5px;
            }


            ol, li {    /* removes list-style */
                list-style: none;
                padding: 0;
                margin: 0;
            } 


            /* MENU-HEADER AND SUB-SECTION HEADER */

            .menu-header, .menu-subsection-header {
                padding: 0 0 1.2em;
                    @media @tablet {
                        padding: 0.4em 0 0.75em;
                    }
                    h1 {    /* menu-name */
                        text-align: center;
                        overflow: hidden; 
                    }
                    h2 { /* MENU-SUBSECTION-HEADER */
                        text-align: center;
                        overflow: hidden; 
                        &:after {
                            content: "";
                            background-image: image('/images/ornament-right.png');
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 27px;
                            width: 28px;
                            margin: 0 10px;
                            position: relative;
                            top: 7px;
                        }
                        &:before {
                            content: "";
                            background-image: image('/images/ornament-left.png');
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 27px;
                            width: 28px;
                            margin: 0 10px;
                            position: relative;
                            top: 7px;
                        }
                    }
                    p {    /* description */
                        text-align: center;       
                    }  
            }   /* end MENU-HEADER AND SUB-SECTION HEADER */
            .menu-header {
                @media @tablet {
                    border-bottom:1px dotted rgba(0, 0, 0, 0.2);
                    margin-bottom: 1.5em;
                }
            }
            .menu-subsection-header {
                @media only screen and (max-width: 550px) {
                    border-bottom:1px dotted rgba(0, 0, 0, 0.2);
                    padding-bottom: 1.5em;
                }
            }

            /* ITEMS */

            .menu-items { /* ol */
                -webkit-column-count: 2;
                -webkit-column-gap: 4em;
                -webkit-column-rule-color:  rgba(0, 0, 0, 0.2);
                -webkit-column-rule-style: dotted;
                -webkit-column-rule-width:  1px;

                -moz-column-count: 2;
                -moz-column-gap: 4em; 
                -moz-column-rule-color: rgba(0, 0, 0, 0.2);
                -moz-column-rule-style:  dotted;
                -moz-column-rule-width:  1px;

                column-count: 2;
                column-gap: 4em;
                column-rule-color:  rgba(0, 0, 0, 0.2);
                column-rule-style: dotted;
                column-rule-width:  1px;

                > * {
                    break-inside: avoid;
                    -webkit-column-break-inside: avoid;
                    -moz-column-break-inside: avoid;
                    -ms-column-break-inside: avoid;
                    -o-column-break-inside: avoid;
                }
                @media only screen and (max-width: 550px) {
                    -webkit-column-count: 1;
                    -moz-column-count: 1;
                    column-count: 1;
                }
                &.odd.bk1-columns {
                    -webkit-column-count: 1;
                    -moz-column-count: 1;
                    column-count: 1;
                }
                
                li {   /* menu-item */
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    &.menu-item-promoted { /* menu-item-promoted */
                        &:after { 
                            content: "\2605";
                            font-size: 25px;
                            position: absolute;
                            top: 2px;
                            left: 0;
                            display: block;
                            z-index: 9999999;
                            color: @color-swatch7;
                        }
                        .inner-item h3 {
                            padding-left: 30px;
                        }
                    }   /* end menu-item-promoted */

                    .inner-item {
                        display: inline-block;
                        border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        width: 100%;
                        h3 {    /* menu-item-name */  
                            padding: 0 5px 0 0;
                            font-family: @font-swatch3-font-family;
                            color: @font-swatch3-color;
                        }
                        .menu-item-image-wrap {
                            background-size:cover;
                            background-repeat: no-repeat;
                            height: 200px;
                            background-position: center;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            img {
                                display: none;
                            }
                        }
                        .menu-item-price p {   /* standard-price */
                            font-family:@font-swatch8-font-family;
                            font-size:@font-swatch8-font-size;
                            font-weight: @font-swatch8-font-weight;
                            line-height:@font-swatch8-line-height;
                            color: @color-swatch3;
                            letter-spacing: @font-swatch8-letter-spacing;
                            padding: 0px;
                            margin: 0;
                            display: inline-block;
                        }
                        p {    /* item-description */
                            font-family:@font-swatch5-font-family;
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color:@font-swatch5-color;
                            letter-spacing: @font-swatch5-letter-spacing;
                            float: left;
                            padding: 0;
                        }
                        h4  { /* nutritional-title for section and subsection */
                            font-family:@font-swatch5-font-family;
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color: @color-swatch6;
                            letter-spacing: @font-swatch5-letter-spacing;
                            float: left;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                        .menu-item-nutritional-prop { 
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color: @font-swatch5-color;
                            float: left;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                        .menu-section-item-dietary-props {
                            float: left;
                            width: 100%;
                            margin-top: 5px;
                            padding: 0;
                            .dietary-icon {
                                background-color: @color-swatch1;
                                width: auto;
                                border: 1px solid @color-swatch2;
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                display: block;
                                z-index: 9999999;
                                color: @color-swatch3;
                                float: left;
                                margin-right: 5px;
                                margin-bottom: 5px;
                                margin-left: 1px;
                                margin-top: 0;
                                padding: 0 7px 2px;
                            }
                            .not-spicy-icon {
                                display: none;
                            }
                        } /* end menu-section-item-dietary-props */   


                        .menu-item-description, .menu-subsection-item-description {
                            margin-bottom: 0.5em;
                            width: 100%;
                        }

                    }   /* end inner-item */

                }  /* end li .menu-item */

            }   /* end ol .menu-items */  

            .menu-subsection .menu-subsection-promoted { /* PROMOTED SUB-SECTION */ 
                margin-bottom: 2em;
                position: relative;
                .menu-subsection-header {
                    margin: 20px 0;
                    text-align: center;

                    h2 {
                        color: @color-swatch7;
                        &:before {
                            content: "";
                            background-image: image('/images/gold-ornament-left.png');
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 27px;
                            width: 28px;
                            margin: 0 10px;
                            position: relative;
                            top: 7px;
                        }
                        &:after {
                            content: "";
                            background-image: image('/images/gold-ornament-right.png');
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 27px;
                            width: 28px;
                            margin: 0 10px;
                            position: relative;
                            top: 7px;
                        }
                    }
                }
            } /* end PROMOTED SUB-SECTION */

            .menu-info {
                display: inline-block;
                text-align: center;
                margin: 2.5em 0;
                padding: 20px;
                width: 100%;
                @media @tablet { 
                    margin: 0;
                    padding: 0px;
                }
                p {    /* menu-note */
                    float: left;
                    width: 100%;
                    color: @color-swatch4;
                    margin-bottom: 10px;
                }
            } /* end menu-info */
    }/* end main */

} /* end .widget.menu */

/* ===============================
  IMAGE WIDGET
   =============================== */

.widget.image {
    .image-title, .image-description {
    color: @font-swatch5-color;
    }
}

/* ===============================
   BLOCK QUOTE
  =============================== */

  blockquote {
    background-color: transparent;
    margin: 20px;
    &:before {
        color: @color-swatch3;
    }
  }

/* ===============================
  CONTACT FORM
   =============================== */

    .widget.contactform fieldset input, .widget.contactform fieldset textarea {
        border: 1px solid darken(@color-swatch1,10%);
    }

   .contactform fieldset {
        border: none;
        margin: 4px 0 13px;
        padding: 0;
    }

/* ===============================
  SIGN UP FORM & PROFILE FORM
   =============================== */

   .widget.signupform fieldset input, .widget.profile form fieldset input {
        border: 1px solid darken(@color-swatch1,10%);
        background-color: #ffffff;
    }
    .signupform fieldset button, .widget.profile form button {
        padding: 6px 10px 12px;
        height: 45px;
    }


/* ===============================
  TWITTER
   =============================== */

   .twitter-profile-pic {
        float: left;
        margin-right: 10px;
    }


   /* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
        color: @color-swatch5;
    }
    .description {
        color: @color-swatch5;
    }
    .content-wrapper {
        background: @color-swatch1;
        text-align: center;

    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            left: 45%;
            top: 43%;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
            }
            @media @mobile {
                width: 40px;
                height: 40px;
                &:after {
                    font-size: 15px;
                    line-height: 36px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch5;
            }
        }
    }
}

/* ===============================
  BLOG
   =============================== */

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.widget {
    &.bloglistposts {
        .blog-post-item {
            border-bottom: 1px dotted @color-swatch5;
        }

    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        input {
            border: 1px solid darken(@color-swatch1,10%);
            }

        button {
            padding: 10px;
            color: @font-swatch7-color;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
        }
    }
}

/* ===============================
   SOCIAL BAR WIDGET / PROFILE DATA
   =============================== */

.widget.profile .bk-profile-socialicons .icons span a, .widget.profile .bk-profile-socialicons span a, .widget.socialicons .icons span a, .widget.socialicons span a {
    background-color: @color-swatch2;
    &:hover {
        background-color: darken(@color-swatch2,10%);
    }
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.bk-footer .widget.profile .bk-profile-socialicons .icons span a, .bk-footer .widget.profile .bk-profile-socialicons span a, .bk-footer .widget.socialicons .icons span a, .bk-footer .widget.socialicons span a {
    border: none;
        -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.bk-footer .widget.socialicons .icons {
    text-align: center;
    margin: 1em;
    font-size:1em;
    font-family:@font-swatch7-font-family;
    span {
        display: inline;
        padding: 0;
        background-color: transparent;
        font-size:1em;
        font-family:@font-swatch7-font-family;
        a {
            display: inline-block;
            text-decoration: none;
            background-color: transparent;
            text-indent: -9999px;
            white-space: nowrap;
            height: 38px;
            width: 38px;
            border: none;
            background-position: center;
            margin-bottom: 6px;
            margin-right: 6px;
            background-size: 20px;
            border: 2px solid @color-swatch1;
            background-repeat: no-repeat;
            position: relative;
            &:before {
                    content: " ";
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    right: 2px;
                    bottom: 2px;
                    border: 1px solid @color-swatch1;
               }
            &:hover {
                background-color: darken(@color-swatch2,5%);
            }
        }
    }
}


/* ===============================
  DIVIDER WIDGET
   =============================== */

hr {
    &.line {
        background-color: lighten(@color-swatch5,30%);
        height: 1px;
    }
}



/* ===============================
   FOOTER
  =============================== */

.bk-footer {
    padding: 3em 0;
    margin-top: 3em;
    background-color: @color-swatch2;
    background-image:image('/images/texture.png');
    background-repeat: repeat;
    .widget.content {
        width: 1024px;
        margin:0 auto;
        text-align: center;
        @media only screen and (max-width: 1084px) {
             width: 90%;
             margin: 0;
        }
        @media @tablet {
            background-image: none;
            width:100%;
        }
        p {
            font-family: @font-swatch5-font-family;
            color: @color-swatch1;
            font-size: @font-swatch5-font-size;
            font-weight: @font-swatch5-font-weight;
            line-height:@font-swatch5-line-height;
            letter-spacing: @font-swatch5-letter-spacing;
        }
    }
}   /* end footer */ 

/* ===============================
   PRINT STYLES 
   =============================== */
.print-mixin {
	.widget.menu,
	.widget.menu:before {
		border-color: #b9b9b9;
	}
	.widget.menu .main .menu-items li.menu-item-promoted:after {
		color: #b9b9b9;
	}
}
 
@media print {
    body {
	    background-image: none;
	    background-color: white;
    }
    .print-mixin;
}
 
.bk-print {
	background-image: none;
	background-color: white;
    .print-mixin;
}